@font-face {
  src: url("../html/fonts/TTCommons.otf");
  font-family: "regular";
}

*{
  overflow: hidden;
}

html {
  user-select: none;  
}
  
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0vw;
  background: transparent;
}

.invoice-description::-webkit-scrollbar {
  width: .15vw;
}

.invoice-description::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 1vh;
}

.invoice-description::-webkit-scrollbar-thumb {
  background: #00000044;
}

.invoice-description::-webkit-scrollbar-thumb:hover {
  background: #00000044;
}

.invoice-price::-webkit-scrollbar {
  height: .05vw;
}

.invoice-price::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 1vh;
}

.invoice-price::-webkit-scrollbar-thumb {
  background: transparent;
}

.invoice-price::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.pin-input {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 3.4605vw;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4186vw;
}

.profile-pic {
  width: 100%;
  height: 80%;
  border-radius: 50%;
  top: -.2vw;
  position: relative;
}

.dashboard-label {
  color: #000;
  font-family: regular;
  font-size: 1.1144vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mycards-label {
  color: #000;
  font-family: regular;
  font-size: 1.1144vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.invoices-label {
  color: #000;
  font-family: regular;
  font-size: 1.1144vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.loans-label {
  color: #000;
  font-family: regular;
  font-size: 1.1144vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exp {
  color: #646464;
  font-family: regular;
  font-size: .925vw;
  font-style: normal;
  font-weight: 700;
  line-height: .9262vw; /* 127.687% */
  letter-spacing: 0.836px;
  right: -16.75vw;
  bottom: 3.2vw;
  position: relative;
}

.name-on-card2 {
  color: #545454;
  font-family: regular;
  font-size: .9522vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1vw; /* 127.687% */
  letter-spacing: .0571vw;
}

.card-number2 {
  color: #A4A4A4;
  font-family: regular;
  font-size: 1.1165vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.0256vw; /* 127.687% */
  letter-spacing: .067vw;
}

.exp2 {
  color: #A4A4A4;
  font-family: regular;
  font-size: 1.1165vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4256vw; /* 127.687% */
  letter-spacing: .067vw;
}

.send-text {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 1.0573vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3501vw; /* 127.687% */
}

.withdraw-text {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 1.0573vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3501vw; /* 127.687% */
}

.deposit-text {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 1.0573vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3501vw; /* 127.687% */
}

.logout-text {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 1.0573vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3501vw; /* 127.687% */
}

.fast-action-text {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 1.3061vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6677vw; /* 127.687% */
}

.action-s-text {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 1.006vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2845vw; /* 127.687% */
}

.action-s-text2 {
  color: #595959;
  text-align: center;
  font-family: regular;
  font-size: .5534vw;
  font-style: normal;
  font-weight: 500;
  line-height: .7066vw; /* 127.687% */
}

.action-amount-text {
  color: #C75EA9;
  text-align: center;
  font-family: regular;
  font-size: 1.3155vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6797vw; /* 127.687% */
}

.action-text {
  color: #FFF;
  text-align: center;
  font-family: regular;
  font-size: .5122vw;
  font-style: normal;
  font-weight: 600;
  line-height: .603vw; /* 127.687% */
}

.box1, .box2 {
  grid-area: 1 / 1;
}

.dw-input {
  color: #262626;
  text-align: left;
  font-family: regular;
  font-size: 1.3253vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.9476vw; /* 127.687% */
  outline: none;
  margin: 0 .5vw 0 .5vw;
}

.send-money-text {
  color: #000;
  font-family: regular;
  font-size: 1.6299vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2.0811vw; /* 127.687% */
}

.send-money-description-text {
  color: #222;
  font-family: regular;
  font-size: .9857vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2587vw; /* 127.687% */
}

.search-bar {
  color: rgba(0, 0, 0, 0.46);
  font-family: regular;
  font-size: .6032vw;
  font-style: normal;
  font-weight: 500;
  outline: none;
  line-height: .7703vw; /* 127.687% */
}

.search-bar-playername {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: .8163vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.0423vw; /* 127.687% */
}

.search-bar-user {
  color: #222;
  font-family: regular;
  font-size: .5297vw;
  font-style: normal;
  font-weight: 500;
  line-height: .6764vw; /* 127.687% */
}

.expand-transition {
  overflow: hidden;
}

.invoice-name {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: .8585vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.0961vw; /* 127.687% */
}

.invoice-description {
  color: #222;
  font-family: regular;
  font-size: .5571vw;
  font-style: normal;
  font-weight: 500;
  line-height: .7113vw; /* 127.687% */
}

.invoice-price {
  text-align: center;
  font-family: regular;
  font-size: .7561vw;
  font-style: normal;
  font-weight: 600;
  line-height: .9654vw; /* 127.687% */
  white-space: nowrap;
}

.credit-description {
  color: #222;
  height: fit-content !important;
  font-family: regular;
  font-size: .9857vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1px;
}

.opening-animation {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

#chart {
  width: 75%;
  height: 100%;
}

.payback-text {
  color: #222;
  height: fit-content !important;
  font-family: regular;
  font-size: .9857vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1px;
}

.iban-input {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 1.5605vw;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4186vw;
}

.password-input {
  color: #000;
  text-align: center;
  font-family: regular;
  font-size: 1.5605vw;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4186vw;
}

.notify-class {
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
  font-size: 1.25vw;
}

.notify-text {
  color: white;
  text-align: center;
  font-family: regular;
  font-size: 1.1257vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.notify-slide-enter-active, .notify-slide-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.notify-slide-enter, .notify-slide-leave-to {
  opacity: 0;
  transform: translateY(-1.0417vw);
}