@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat&display=swap');
body {
    overflow: hidden;
}

*{
     user-select: none;
}

.circle img {
    display: none;
    top: 25vw;
    left: 50vw;
    position: absolute;
    width: 70px;
    height: 70px;
}

#target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 3vh;
    text-shadow: 0.2vh 0.2vh 0.2vh #000000;
    width:0vh;
    height: 0vh;
    z-index: 1;
    /* filter: drop-shadow(0vw 0vw .9333vw #10CC9F); */
}

.ana {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    drop-shadow:(0vw 0vw 0.0vw #10CC9F);
    width: 5.5vh;
    height: 5.5vh;
    transition: all 0.3s;
    /* filter: drop-shadow(0vw 0vw .9333vw #10CC9F); */
}

.alt img {
    z-index: -1;
    position: absolute;
    top: 50.7%;
    left: 50%;
    transform: translateY(-85%) translateX(-49%);
    width: 3.5vh;
    height: 3.7vh;
    transition: all 0.4s;
}

.ana img {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 4.6vh;
    height: 5.1vh;
    transition: all 0.3s;
    text-shadow: 0 0 .1vw #23bd9600;
    background-image: url('https://cdn.discordapp.com/attachments/1166094054774276177/1197995490009161758/Hexagon-PNG.png?ex=65bd4b3e&is=65aad63e&hm=bd720934dbae992af44b17468b39eb38a45dfcb4fed8f2d77db5987bd30d94da&'); 
    background-position-y: -2.6px;
    background-position-x: -13.8px;
    background-repeat: no-repeat;
    background-size: 0px;
}

#target-label-wrapper {
    position: absolute;
    left: 92vh;
    top: 47%;
}

.container {
    position: absolute;
    width: fit-content;
    height: 6.6667vw;
    /* background: linear-gradient(to bottom, #192b22cb 30% , #1c2623cb 60% , #1c2623cb 100%); */
    align-content: center;
    justify-content: center;
    margin-top: .6333vw;
}
#target-label:hover {
    text-shadow: 0.05vh 0.05vh 0.05vh #10cca000;
}
/* #target-label {
    transition: all 0.3s;
    width: 6.25vw;
    height: 3.125vw;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: .6667vw;
    flex-direction: column;
    list-style: none;
    font-family: Inter;
    font-size: .7vw;
    font-style: normal;
    font-weight: 100;
    line-height: 2vw;
    letter-spacing: .0133vw;
    text-decoration: none;
    text-transform: none;
    color: #ffffffe5;
    text-shadow: 0.1vh 0.1vh 0.1vh #000000;
} */

#target-label {
    transition: all 0.3s;
    align-content: center;
    font-size: 1.2vh;
    font-weight: 460;
    font-family: "Gilroy";
    color: white;
    user-select: none;
    white-space: nowrap;
    letter-spacing: .0133vw;
}